# env files

.env
.env.*
server/.env
client/.env

node_modules/
server/node_modules/
client/node_modules/

client/.expo/
client/.expo-shared/
client/android/
client/ios/
client/build/
client/dist/

.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db

.vscode/
.idea/

server/dist/
server/build/

logs/
*.log

*.pem
*.key